
body {
  font-family: 'Cardo', serif;
}

#title {
  /* padding-top:3%; */
  background-color: #7D5A5A;
  color: #F1D1D1;
  /* background-image: url(images/socialservice.jpg); */
}

.top-container{
  position: relative;
  padding: 3% 25% 20% 3%;
  width:80%;
  margin: auto;

}

.navstyle{
  padding-right:9%;
}
/* .container-fluid {
  padding: 3% 10% 3% 3%;

} */


/* .container-fluid.container {
  background-image: url("images/socialservice.jpg");
} */

h1,h2,h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  /* color: #F1D1D1; */
  font-size: 3rem;
}

#title h3{
  color: #F1D1D1;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: none;
}

#spoortidhama h3{
  color: #F1D1D1;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: none;
}

.donate-button{
  font-weight: bold;
  font-size: 0.9rem;
  color:#F1D1D1;
  background-color:#7D5A5A;
  border-color:#7D5A5A;
  text-align:left;
  margin-top:50%;
}

#features h1,h2,h3{
  color:#7D5A5A;
  text-align: center;
}

#features h3{
  font-size: 2rem;
}



/* .navbar {
  /* padding:10 10 10 10; */
  /* margin-left: 350px; */
} */

.navbar-brand {
  font-size: 3rem;
  font-weight: bold;
  margin-left: -100%;
}

.nav-item {
  font-weight: bold;
  padding: 0 5px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 3%;
}

/* #swami-img {
  width: 30%;
  position: absolute;
  margin-left: -2%;
} */

/* Features */
#features {
  padding: 7% 15%;
  background-color: #F1D1D1;
  position: relative;
  z-index: 1;

}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color: #7D5A5A;
  color: #F1D1D1;
  text-align: center;
}
#testimonials h2{
  color:#F1D1D1;
}
.testimonial-image {
  width: 300px;
  height:150px;
  border-radius: 10%;
}

#press {
  background-color: #7D5A5A;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#donate {
  padding: 100px;
  text-align: center;
  background-color:#F1D1D1;
  color:#7D5A5A;
}

.cards-division {
  margin-left: 20%;
}

.donate-column {
  padding: 3% 4%;
}

#donate p{
  text-align: center;
}

#contact {
  background-color: #F1D1D1;
  text-align: center;
  padding: 3%;
  color: #7D5A5A;
}

#contact h3 {
  /* font-family: 'Montserrat-Black'; */
  width:60%;
  font-size: 3rem;
  /* color: #F1D1D1; */
  margin:auto;
  padding-bottom: 3%;

}

#contact .download-button {
  margin: 1% 2% 3% 1%;
}

#footersection {
  /* margin: 2%; */
  text-align: center;
  background-color: #7D5A5A;
  color: #F1D1D1;
}

.footer-icons {
  padding: .5%;
}

.fa-facebook-f{
  color:#F1D1D1;
}

#spoortidhama {
  /* padding-top:3%; */
  background-color: #7D5A5A;


  /* background-image: url('images/spoortidhama-1.png'); */
}
.h2style,.h3style{
  color:#F1D1D1;
}
.h3style{
  font-size:2rem;
}



/*
@media (max-width: 1360px) {
  #title {
    text-align: center;
  }

  #swami-img {
    width: 100%;
    text-align: center;
  }

  .cards-division {
    margin-left: 10%;
  }
  .donate-button{
    margin-bottom: 10%;
  }
  .navbar {
    margin-left: 250px;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    #title {
      text-align: center;
    }
    #swami-img {
      width: 100%;
      position: center;

    }

    .cards-division {
      margin-left: 10%;
    }
    .donate-button{
      margin-bottom: 10%;
    }
    .navbar {
      margin-left: 250px;
    }
    #spoortidhama{
      margin-bottom:5%;
    }
} */


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    #title {
      text-align: center;
    }
    img {
      width: 100%;
      position: center;

    }
}
